<blog-post title="Avoid Bad Types">
    <article-section section-title="Introduction">
        <blockquote>
            This article is about application level code. Library code differs.
        </blockquote>
        <p>
            TypeScript is merely a different flavor of JavaScript. Anything you can do in TypeScript gets transpiled back to plain vanilla JS. You can still do damage to your application by allowing bad programming to seep slowly into your code base.
        </p>
        <p>
            A quick fix is to double-check that "strict" mode is enabled in your ts config.
        </p>
        <p>tsconfig.json</p>
        <pre>
            <code>
        {
          "compilerOptions": {
            // Lots of extra junk
            "strict": true,
          },
        }
            </code>
        </pre>
        <p>
            Strict mode will turn on <a href="https://www.typescriptlang.org/tsconfig#strict" target="_blank"> eight separate rules</a> that put you on the right path for keeping TypeScript free from bad influences; however, this is not enough. You also need to keep other bad types and practices out of your code base. The best procedure for this is to lean on your linter.
        </p>
        <p>
            The more you treat TypeScript like any other static-typed language such as C# or Java the better your code base becomes.
        </p>
    </article-section>
    <article-section section-title="Extending Ban Types">
        <p>
            Banning certain types is rooted in removing uncertainty and undefined behavior from your application. More certainty in your application translates to a higher level of confidence that-it will meet expectations.
        </p>
        <p>
            Our weapon of choice is to extend the <a href="https://typescript-eslint.io/rules/ban-types/" target="_blank">ban-types </a>rule in ESLint.
        </p>
        <p>
            We are adding "never", "unknown", "object", and and the "empty object" to our ban list. This will remove problem causing types from our application, forcing us to stick with static type instead.
        </p>
        <p>eslint.json</p>
        <pre>
            <code>
        {
            "rules": {
            // other rules
            "@@typescript-eslint/ban-types": [
              2,
              {
                "types": {
                  "never": "Use a proper type.",
                  "object": "Use a proper type.",
                  "unknown": "Use a proper type.",
                  "{}": "Use a proper type."
                },
                "extendDefaults": true
              }
            ]
          }
        }
            </code>
        </pre>
    </article-section>
    <article-section section-title="Others to Avoid">
        <h4 class="title is-5">Enums over Inferred Literal Types</h4>
        <p>
            In TypeScript, you can have a function that has the following kind of return type:
        </p>
        <pre>
            <code>
        export function directions(goLeft: boolean): "left" | "right" {
          if (goLeft) {
            return "left";
          }
          return "right";
        }
            </code>
        </pre>
        <p>
            This is a leaky abstraction. We should use an enum instead.
        </p>
        <pre>
            <code>
        enum Directions {
          Left = "Left",
          Right = "Right",
        }

        export function directions(goLeft: boolean): Directions {
          if (goLeft) {
            return Directions.Left;
          }
          return Directions.Right;
        }
            </code>
        </pre>
        <p>
            Our refactored code does not provide a leaky abstraction-and, therefore, is much cleaner.
        </p>
        <h4 class="title is-5">Interfaces over Types</h4>
        <p>
            If you are already using ESLint's strict mode, and you should be, then the <a href="https://typescript-eslint.io/rules/consistent-type-definitions/" target="_blank">consistent-type-definitions</a> rule is already enabled.
        </p>
        <p>
            While differences between interfaces and types in TypeScript are minute, you should stick with interfaces. Interfaces are more straightforward and easier for other developers to utilize.
        </p>
        <p>
            Keeping abstract and non-static types out of your front-end code will give you more predictability, easier-to-test code, and a more maintainable code base.
        </p>
    </article-section>
</blog-post>