<blog-post title="Blazor Advantages via a Progressive Web App">
	<h5 class="title is-5 block">Lean Into A Single Platform</h5>
	
	<p>
		A PWA (Progressive Web Application) can be a web, mobile web, tablet, and desktop--all-in-one application. Eliminate the need to develop and support multiple versions of your application by moving to a PWA. With business and consumers trending to primarily mobile ways of consuming content, a PWA may be all you need.
	</p>
	
	<p>
		You can still take advantage of the desktop via a PWA. Certain browsers can deliver a PWA as a desktop application without the need to go through a separate download and installation process. Reduce the friction of getting your product into end-users hands via a PWA. <a href="https://www.simicart.com/blog/progressive-web-apps-examples/" target="_blank">Starbucks did so</a> and doubled their web orders.
	</p>
	
	<h5 class="title is-5 block">Streamline Your Development Costs</h5>
	
	<p>
		Blazor is both new and familiar to your developers. It is built using existing languages and programming paradigmns. If you are already developing with .NET web technologies, Blazor will already feel familiar. Less time training new concepts means more time spent developing features.
	</p>
	
	<p>
		Blazor won't hinder your Angular or React developers. Blazor is built with the same component based concepts that are already used with React and Angular. If you are sitting on JavaScript developers, picking up Blazor is not a monumental shift in skillsets.
	</p>
	
	<p>
		Blazor means you can go all in on .NET development. You can cut out the drag from having to support multiple languages and frameworks for your technology stack. <a href="https://simpleflying.com/why-low-cost-carriers-stick-to-one-plane-type/" target="_blank">Take advantage</a> of the same concept that industry leaders (like Southwest Airlines) have used for decades.
	</p>
	
	<h5 class="title is-5 block">Industry Leading Support</h5>
	
	<p>
		PWAs and WebAssembly are already mainstream. Moving to Blazor means you can reach <a href="https://caniuse.com/wasm" target="_blank">over 94%</a> of the available browser market. If you need more coverage, Blazor has options available.
	</p>
	
	<p>
		Built, developed, and supported by Microsoft, Blazor is not some unknown, indie-web tool. Microsoft is all in on Blazor and has positioned it to be the premier focus for future web development.
	</p>
</blog-post>