<h5 class="title is-5 block">One Line A Day</h5>
<p class="content block">
    If you fix one line of code a day. Imagine how much better your code base will be in a year.
</p>

<pre>
    <code>
        var a = new HelloWorld();

        if (true)
        {
            DoStuff();
        }

        class Person
        {
            public string Name { get; set; }
        }
    </code>
</pre>

