<blog-post title="Simplifying ADO.NET Boilerplate">
    <p>When using <a href="https://docs.microsoft.com/en-us/dotnet/framework/data/adonet/ado-net-overview" target="_blank">ADO.NET</a>, every command you dispatch needs a certain amount of boilerplate.</p>
    <p>
        Each command requires us to:
    </p>
    <ol>
        <li>Open a connection</li>
        <li>Create the command</li>
        <li>Execute the command</li>
        <li>Map the result set to an object for queries</li>
        <li>Close the connection</li>
    </ol>
    <p>
        Since none of these requirements needs to change from command to command, we can extract it as common logic. A base class can encapsulate the repeated logic while only accepting what is required via parameters.
    </p>
    <h5 class="title is-5">Our Base Class</h5>
    <p>Considering every command issued to our database is a query or non-query, we can express this through two methods.</p>
    <pre>
        <code>
public abstract class BaseRepository
{
    private readonly SqlConnection _sqlConnection;

    protected BaseRepository(SqlConnection sqlConnection)
    {
        _sqlConnection = sqlConnection;
    }

    protected async Task&lt;int&gt; ExecuteCommand(string sql, CancellationToken cancellationToken = default)
    {
        await _sqlConnection.OpenAsync(cancellationToken);

        var transaction = _sqlConnection.BeginTransaction();

        var sqlCommand = new SqlCommand(sql, _sqlConnection, transaction);

        int result;

        try
        {
            result = await sqlCommand.ExecuteNonQueryAsync(cancellationToken);

            await transaction.CommitAsync(cancellationToken);
        }
        catch (Exception)
        {
            await transaction.RollbackAsync(cancellationToken);

            throw;
        }
        finally
        {
            await _sqlConnection.CloseAsync();
        }

        return result;
    }

    protected async Task&lt;IReadOnlyListTEntity&gt;&gt; ExecuteQuery&lt;TEntity&gt;(string sql, Func&lt;SqlDataReader, TEntity&gt; conversionFunc, CancellationToken cancellationToken = default)
    {
        await _sqlConnection.OpenAsync(cancellationToken);

        var sqlQuery = new SqlCommand(sql, _sqlConnection);

        var result = new List&lt;TEntity&gt;();

        try
        {
            var sqlDataReader = await sqlQuery.ExecuteReaderAsync(cancellationToken);


            while (await sqlDataReader.ReadAsync(cancellationToken))
            {
                result.Add(conversionFunc.Invoke(sqlDataReader));
            }
        }
        catch (Exception)
        {
            // Log Exception

            throw;
        }
        finally
        {
            await _sqlConnection.CloseAsync();
        }

        return result;
    }
}
        </code>
    </pre>
    <p>
        Breaking down our base class:
    </p>
    <ul>
        <li>
            We accept an SqlConnection via the constructor.
        </li>
        <li>Our ExecuteCommand method will accept some SQL, wrap the command in a transaction, and--in the event of some undefined behavior--our transaction will rollback.</li>
        <li>Our ExecuteQuery method will accept some SQL alongside a mapping function to convert a result set into the type we specify.</li>
    </ul>
    <p>Now, we can now reuse this base class throughout our entire application.</p>
    <h5 class="title is-5">Implementation</h5>
    <p>For our example, we will use a simple Customer class:</p>
    <pre>
        <code>
public class Customer
{
    public Customer(Guid id, string name)
    {
        Id = id;
        Name = name;
    }

    public Customer(string name)
        : this(Guid.NewGuid(), name)
    {
    }

    public Guid Id { get; }

    public string Name { get; }
}
        </code>
    </pre>
    <p>Our CustomerRepository will implement our base class and pass the required parameters:</p>
    <pre>
        <code>
public class CustomerRepository : BaseRepository
{
    public CustomerRepository(SqlConnection sqlConnection)
        : base(sqlConnection)
    {
    }

    public async Task&lt;int&gt; AddCustomer(Customer customer)
    {
        return await ExecuteCommand(
            $"INSERT INTO dbo.Customer VALUES ('{customer.Id}', '{customer.Name}')");
    }

    public async Task&lt;IReadOnlyList&lt;Customer&gt;&gt; GetAllCustomers()
    {
        return await ExecuteQuery(
            "SELECT * FROM dbo.Customer",
            reader => new Customer(
                    reader.GetGuid(0),
                    reader.GetString(1)));
    }
}
        </code>
    </pre>
    <p>Our example above shows us passing the SqlConnection to our base class and utilizing two methods--one to add a customer and one to retrieve all available customers. We only need to pass the SQL and mapping function to our methods. Our code base is significantly smaller compared to writing every method using the necessary boilerplate.</p>

    <h5 class="title is-5">
        Query Reuse
    </h5>
    <p>We now have a wonderful situation, wherein our mapping function can be re-used for different queries. If we want to add a method in order to return a single customer by their identifier, the implementation would be quick and easy.</p>
    <p>Our customer repository would now become:</p>
    <pre>
        <code>
public class CustomerRepository : BaseRepository
{
    private readonly Func&lt;DbDataReader, Customer&gt; _customerFunc = reader =&gt; 
        new Customer(
        reader.GetGuid(0),
        reader.GetString(1));

    public CustomerRepository(SqlConnection sqlConnection)
        : base(sqlConnection)
    {
    }

    public async Task&lt;int&gt; AddCustomer(Customer customer)
    {
        return await ExecuteCommand($"INSERT INTO dbo.Customer VALUES ('{customer.Id}', '{customer.Name}')");
    }

    public async Task&lt;IReadOnlyList&lt;Customer&gt;&gt; GetAllCustomers()
    {
        return await ExecuteQuery("SELECT * FROM dbo.Customer", _customerFunc);
    }

    public async Task&lt;Customer&gt; GetById(Guid id)
    {
        return (await ExecuteQuery($"SELECT TOP(1) * FROM dbo.Customer WHERE Id='{id}'", _customerFunc)).First();
    }
}
        </code>
    </pre>
    <p>We have extracted our mapping function and moved it to a variable. This allows us to use it for our new method--further reducing our codebase!</p>

    <h5 class="title is-5">Conclusion</h5>
    <p>If what we have done today feels very similar to Dapper, you are correct. Dapper, itself, is a thin wrapper around ADO.NET that will execute SQL, but also performs some automatic object mapping. The drawback is that Dapper is incapable of mapping complex objects--which means we still need to conduct some manual mapping if we want to enforce encapsulation in the domain.</p>
    <p>Our implementation gives us a lot of the same niceties as Dapper, but we only need a single conversion to preserve our domain's encapsulation.</p>
</blog-post>