<section class="section">
    <div class="container">
        <article class="content">
            <p>
                Ok software engineer. Bad simulator pilot.
            </p>
            <p>
                Born and raised near <a href="https://en.wikipedia.org/wiki/Ontario_International_Airport" target="_blank" class="has-text-dark">ONT</a>. Currently based next to <a href="https://en.wikipedia.org/wiki/Orlando_International_Airport" target="_blank" class="has-text-dark">MCO</a>.
            </p>
            <p>
                Embrace simplicity and consistency. Learn concepts, not frameworks.
            </p>
            <p>
                <a href="mailto: mjbradvica@gmail.com" class="has-text-dark">Questions, comments, and death threats go here.</a>
            </p>
        </article>
    </div>
</section>