<section class="section">
    <article>
        <p class="content">
            Ok software engineer. Bad simulator pilot. 
        </p>
        <p class="content">
            Born and raised near <a href="https://en.wikipedia.org/wiki/Ontario_International_Airport" target="_blank" class="has-text-dark">ONT</a>. Currently based next to <a href="https://en.wikipedia.org/wiki/John_Wayne_Airport" target="_blank" class="has-text-dark">SNA</a>.
        </p>
        <p class="content">
            Embrace simplicity and consistency. Learn concepts, not frameworks.
        </p>
        <p class="content">
            <a href="mailto: mjbradvica@gmail.com" class="has-text-dark">Questions, Comments, and Death Threats go here.</a>
        </p>
    </article>
</section>