<p>
    <a asp-controller="Blog" asp-action="ChainOfResponsibility" class="has-text-grey is-size-3">Chain of Responsibility Adopted for Dependency Injection</a>
</p>
<p>
    <a asp-controller="Blog" asp-action="OneLineADay" class="has-text-grey is-size-3">One Line a Day</a>
</p>
