@{
    ViewData["Title"] = "Home Page";
}

<button onclick="darkMode()">To the dark zone!</button>
<section class="hero is-success is-fullheight">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                First Section
            </h1>
            <h2 class="subtitle">
                First Subtitle
            </h2>
        </div>
    </div>
</section>
<section class="hero is-fullheight is-link">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Second Section
            </h1>
            <h2 class="subtitle">
                Second Subtitle
            </h2>
        </div>
    </div>
</section>
