<section class="section">
    <p>
        <a asp-controller="Blog" asp-action="JustBecauseYouCanDoesNotMeanYouShould" class="has-text-grey is-size-3">Just Because You Can, Does Not Mean You Should</a>
    </p>
    <p>
        <a asp-controller="Blog" asp-action="EmbracingComponentArchitecture" class="has-text-grey is-size-3">Embracing Component Architecture</a>
    </p>
    <p>
        <a asp-controller="Blog" asp-action="BlazorHostingModels" class="has-text-grey is-size-3">Blazor Hosting Models</a>
    </p>
    <p>
        <a asp-controller="Blog" asp-action="YourApplicationIsNotBlazor" class="has-text-grey is-size-3">Your Application is Not Blazor</a>
    </p>
    <p>
        <a asp-controller="Blog" asp-action="MinimizingJavaScriptInteropInBlazor" class="has-text-grey is-size-3">Minimizing JavaScript Interop in Blazor</a>
    </p>
    <p>
        <a asp-controller="Blog" asp-action="ThingsToRememberWithBlazor" class="has-text-grey is-size-3">Things to Remember with Blazor</a>
    </p>
    <p>
        <a asp-controller="Blog" asp-action="PurposeOfTheRepositoryPattern" class="has-text-grey is-size-3">The Purpose of the Repository Pattern</a>
    </p>
    <p>
        <a asp-controller="Blog" asp-action="ChainOfResponsibilityForDependencyInjection" class="has-text-grey is-size-3">Chain of Responsibility Adopted for Dependency Injection</a>
    </p>
    <p>
        <a asp-controller="Blog" asp-action="OneLineADay" class="has-text-grey is-size-3">One Line a Day</a>
    </p>
</section>
