<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Michael Bradvica</title>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/pure/pure-min.css" />
</head>
<body>

<header>
    <nav></nav>
</header>

<div class="container">
    <main role="main">
        @RenderBody()
    </main>
</div>

<footer class="footer">
    <p>Michael Bradvica</p>
    <p><a asp-controller="Home" asp-action="About" class="link">About</a></p>
</footer>

@await RenderSectionAsync("Scripts", false)
</body>
</html>