<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Michael Bradvica</title>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/bulma/css/bulma.min.css" />
</head>
<body>

<header>
    <nav></nav>
</header>

<div class="container">
    <main role="main">
        @RenderBody()
    </main>
</div>

<footer class="footer">
    <div class="content has-text-centered">
        <p>Michael Bradvica.com - &copy; @DateTime.UtcNow.Year - Built with ASP.NET Core MVC, hosted on AWS.</p>
    </div>
</footer>

<script src="~/js/site.js" asp-append-version="true"></script>
@RenderSection("Scripts", false)
</body>
</html>