<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Michael Bradvica - A Software Engineering Blog</title>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="~/css/site.css"/>
    <link rel="stylesheet" href="~/lib/bulma/css/bulma.min.css"/>
    <link rel="stylesheet" href="lib/highlight/styles/vs.min.css" />
    <script src="lib/highlight/highlight.min.js"></script>
    <script src="~/scripts/site.js"></script>
</head>
<body>
    
<nav class="navbar container mt-4 block level" role="navigation" aria-label="main navigation">
    <div class="navbar-brand level-left">
        <div class="level-item"><a asp-controller="Home" asp-action="Index" class="has-text-dark is-size-5">Michael Bradvica</a></div>
    </div>
    <div class="navbar-end is-hidden-touch">
        <div class="navbar-item">
            <a href="https://dev.to/mjbradvica" target="_blank">
                <img src="https://d2fltix0v2e0sb.cloudfront.net/dev-badge.svg" alt="DEV.to" height="30" width="30">
            </a>
        </div>
        <div class="navbar-item">
            <a href="https://github.com/mjbradvica" target="_blank">
                <img src="https://img.icons8.com/material-sharp/2x/github.png" alt="GitHub" height="30" width="30"/>
            </a>
        </div>
        <div class="navbar-item">
            <a href="https://www.linkedin.com/in/mjbradvica/" target="_blank">
                <img src="https://cdn.onlinewebfonts.com/svg/img_435965.png" alt="LinkedIn" height="30" width="30"/>
            </a>
        </div>
    </div>
</nav>

<div class="container">
    <main role="main">
        @RenderBody()
    </main>
    <hr />
</div>

<footer class="has-text-centered">
    <p class="content has-text-dark">Michael Bradvica - &copy; @DateTime.UtcNow.Year</p>
    <p>
        <a asp-controller="Home" asp-action="About" class="has-text-grey">About</a>
    </p>
</footer>

@await RenderSectionAsync("Scripts", false)
</body>
</html>